################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/TestDrivenDevelopment/.vs/TestDrivenDevelopment
/TestDrivenDevelopment/TestDrivenDevelopment/obj
/TestDrivenDevelopment/TestDrivenDevelopmentTest/bin
/TestDrivenDevelopment/TestDrivenDevelopmentTest/obj
/TestDrivenDevelopment/TestResults
/TestDrivenDevelopment/TestDrivenDevelopment/bin
/.vs/TestDrivenDevelopment/v16
/TestDrivenDevelopment/TestDrivenDevelopmentTest/obj/project.assets.json
/TestDrivenDevelopment/TestDrivenDevelopmentTest/obj/project.nuget.cache
