################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestDrivenDevelopment/.vs/TestDrivenDevelopment/v16
/TestDrivenDevelopment/.vs/TestDrivenDevelopment/DesignTimeBuild
/TestDrivenDevelopment/TestDrivenDevelopment/bin/Debug/netcoreapp3.1
/TestDrivenDevelopment/TestDrivenDevelopment/obj
/TestDrivenDevelopment/TestDrivenDevelopmentTest/bin/Debug/netcoreapp3.1
/TestDrivenDevelopment/TestDrivenDevelopmentTest/obj/Debug/netcoreapp3.1
/TestDrivenDevelopment/TestDrivenDevelopmentTest/obj/project.assets.json
/TestDrivenDevelopment/TestDrivenDevelopmentTest/obj/project.nuget.cache
/TestDrivenDevelopment/TestDrivenDevelopmentTest/obj/TestDrivenDevelopmentTest.csproj.nuget.dgspec.json
/TestDrivenDevelopment/TestDrivenDevelopmentTest/obj/TestDrivenDevelopmentTest.csproj.nuget.g.props
/TestDrivenDevelopment/TestDrivenDevelopmentTest/obj/TestDrivenDevelopmentTest.csproj.nuget.g.targets
/TestDrivenDevelopment/TestResults
